<header><h3>Bilder</h3></header>
<div class="content">
    <div class="line">
        <div id="myAwesomeDropzone"
             class="dropzone inline-dropzone"
             data-src="{{ path('file_drop') }}"
             data-acceptedFiles="{{ acceptedFiles }}"
             data-maxFiles="{{ maxFiles }}"
        ></div>
    </div>
</div>

{{ form_widget(form.tmpFolder) }}

<div class="content images hidden">
    <ul id="dropzone-files">
        {% for file in files %}
            {% if file.path is not empty %}
                <li
                        data-file-id="{{ file.id }}" data-name="{{ file.name }}" data-size="{{ file.size }}"
                        data-thumbnail="{{ asset(file.path) | imagine_filter('cover_355x355') }}"
                >
                    <input type="hidden" name="removed-file[]" class="removed-file">
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
