<div class="line col-6">
    <a
            href="{{ path('download_center_file_download',{'id':file.id}) }}"
            class="file" title="{{ file.fileName }}"
    >
        <div class="wrap-icon">
            {% include '_widgets/_file_icon.html.twig' %}
        </div>
        <div class="information">
            <div class="type">{{ file.name }}</div>
            <div class="filename">{{ file.fileName }}</div>
            <div class="date">{{ file.updatedAt|date('d.m.Y H:i') }}</div>
        </div>
    </a>
</div>