{% extends '_general/base.html.twig' %}

{% block title %}Download-Center{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('files') }}
{% endblock %}

{% block content %}

    <div class="container container--files">
        <header class="inner">
            <header>
                <h2>
                    <i class="fad fa-cloud"></i>
                    Download-Center
                </h2>
            </header>

            {% if showNewFiles %}
                <header><h3 class="purple"><i class="fad fa-sparkles"></i> Neue</h3></header>
                <div class="content">
                    {% for newFile in newFiles %}
                        {% include 'download_center/user_view/_file.html.twig' with {'file':newFile} %}
                    {% endfor %}
                </div>
            {% endif %}

            {% for folder in folders %}
                <header>
                    {% if showBreadcrumbs %}
                        {% if folder.parent is not empty %}
                            <a href="{{ path('download_center_user_view',{'id':folder.parent.id}) }}"
                               class="btn" title="{{ folder.parent.name }}"
                            >
                                <i class="fas fa-angle-left"></i>
                            </a>
                        {% elseif isChild %}
                            <a href="{{ path('download_center_user_view') }}"
                               class="btn" title="Download-Center"
                            >
                                <i class="fas fa-angle-left"></i>
                            </a>
                        {% endif %}
                        <div class="breadcrumbs">
                            {% for folder in breadcrumbs %}

                                <a class="breadcrumb btn {{ loop.last ? 'active' }}"
                                   href="{{ folder.parent is null ? path('download_center_user_view') : path('download_center_user_view',{'id':folder.id}) }}"
                                >
                                    {{ folder.name }}
                                </a>
                                {% if not loop.last %}
                                    <div class="separator"><i class="fas fa-caret-right"></i></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <h2><i class="fad fa-file-contract"></i> {{ folder.name }}</h2>
                    {% endif %}
                </header>

                {% if folder.description is not empty %}
                    <header>
                        <h4>
                            {{ folder.description|raw }}
                        </h4>
                    </header>
                {% endif %}

                <div class="content">
                    {% for child in folder.children %}
                        <div class="line col-6">
                            <a
                                    href="{{ path('download_center_user_view',{'id':child.id}) }}"
                                    class="file" title="{{ child.name }}"
                            >
                                <div class="wrap-icon">
                                    <i class="fas fa-folder-open folder-color"></i>
                                </div>
                                <div class="information">
                                    <div class="filename">{{ child.name }}</div>
                                    <div class="type">
                                        {{ child.description|striptags }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    {% for file in folder.files %}
                        {% include 'download_center/user_view/_file.html.twig' with {'file':file} %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
