{% extends '_general/base.html.twig' %}

{% block title %}Ihre Dateien{% endblock %}

{% block content %}

    <div class="container container--files">
        <div class="inner">
            <header>
                <h2>
                    <i class="fad fa-cloud"></i>
                    Ihre Dateien
                </h2>
            </header>

            <header><h3 class="purple"><i class="fad fa-sparkles"></i> Neue</h3></header>
            <div class="content">
                {% for newFile in newFiles %}
                    {% include 'download_center/user_view/_file.html.twig' with {'file':newFile} %}
                {% endfor %}
            </div>
            {% for folder in folders %}
                <header><h3><i class="fad fa-file-contract"></i> {{ folder.name }}</h3></header>
                <div class="content">
                    {% if folder.parent is not empty %}
                        <div class="line col-6">
                            <a
                                    href="{{ path('download_center_user_view',{'id':folder.parent.id}) }}"
                                    class="file" title="{{ folder.parent.name }}"
                            >
                                <div class="wrap-icon">
                                    <i class="fas fa-folder-open folder-color"></i>
                                </div>
                                <div class="information">
                                    <div class="type">{{ folder.parent.name }}</div>
                                </div>
                            </a>
                        </div>
                        {% elseif isChild %}
                            <div class="line col-6">
                                <a
                                        href="{{ path('download_center_user_view') }}"
                                        class="file" title="Download-Center"
                                >
                                    <div class="wrap-icon">
                                        <i class="fad fa-cloud"></i>
                                    </div>
                                    <div class="information">
                                        <div class="type">Download-Center</div>
                                    </div>
                                </a>
                            </div>
                    {% endif %}
                    {% for child in folder.children %}
                        <div class="line col-6">
                            <a
                                    href="{{ path('download_center_user_view',{'id':child.id}) }}"
                                    class="file" title="{{ child.name }}"
                            >
                                <div class="wrap-icon">
                                    <i class="fas fa-folder-open folder-color"></i>
                                </div>
                                <div class="information">
                                    <div class="type">{{ child.name }}</div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    {% for file in folder.files %}
                        {% include 'download_center/user_view/_file.html.twig' %}
                    {% endfor %}
                </div>
            {% endfor %}
            <header><h3><i class="fad fa-archive"></i> Archiv</h3></header>
            <div class="content">
                <div class="line"><a href="">126 archivierte Dateien</a></div>
            </div>
        </div>
    </div>
{% endblock %}
