{% extends '_general/base.html.twig' %}

{% block title %}Prämienberechnung{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('insurancePremiumDetermination') }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="container col-8 col-l-24">
        <div class="inner">
            <header>
                <h2>BVAW Gebäude</h2>
            </header>
            <div class="content">
                <div class="line col-auto">
                    {{ form_label(form.salutation) }}
                    {{ form_widget(form.salutation) }}
                    {{ form_errors(form.salutation) }}
                </div>
                <div class="newline"></div>
                <div class="line col-12">
                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName) }}
                    {{ form_errors(form.firstName) }}
                </div>
                <div class="line col-12">
                    {{ form_label(form.lastName) }}
                    {{ form_widget(form.lastName) }}
                    {{ form_errors(form.lastName) }}
                </div>
                <div class="newline"></div>
                <div class="line col-12">
                    {{ form_label(form.street) }}
                    {{ form_widget(form.street) }}
                    {{ form_errors(form.street) }}
                </div>
                <div class="newline"></div>
                <div class="line col-12">
                    {{ form_label(form.zipcode) }}
                    {{ form_widget(form.zipcode) }}
                    {{ form_errors(form.zipcode) }}
                </div>
                <div class="line col-12">
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city) }}
                    {{ form_errors(form.city) }}
                </div>
                <div class="newline"></div>
                <div class="line col-12">
                    {{ form_label(form.paymentMethod) }}
                    {{ form_widget(form.paymentMethod) }}
                    {{ form_errors(form.paymentMethod) }}
                </div>

                <div class="liner"></div>

                <div class="line col-auto">
                    {{ form_label(form.mode) }}
                    {{ form_widget(form.mode) }}
                    {{ form_errors(form.mode) }}
                </div>

                <div class="newline"></div>

                <div class="line col-8">
                    {{ form_label(form.sumInsured) }}
                    {{ form_widget(form.sumInsured) }}
                    {{ form_errors(form.sumInsured) }}
                </div>
                <div class="line col-8">
                    {{ form_label(form.sumInsuredVs) }}
                    {{ form_widget(form.sumInsuredVs) }}
                    {{ form_errors(form.sumInsuredVs) }}
                </div>

                <div class="newline"></div>

                <div class="line col-8">
                    {{ form_label(form.total) }}
                    {{ form_widget(form.total) }}
                    {{ form_errors(form.total) }}
                </div>

                <div class="line col-8">
                    {{ form_label(form.totalVs) }}
                    {{ form_widget(form.totalVs) }}
                    {{ form_errors(form.totalVs) }}
                </div>

                <div class="liner"></div>

                <div class="line col-8">
                    {{ form_label(form.numberOfResidentialUnits) }}
                    {{ form_widget(form.numberOfResidentialUnits) }}
                    {{ form_errors(form.numberOfResidentialUnits) }}
                </div>
                <div class="line col-8">
                    {{ form_label(form.numberOfCommerciallyUsedUnits) }}
                    {{ form_widget(form.numberOfCommerciallyUsedUnits) }}
                    {{ form_errors(form.numberOfCommerciallyUsedUnits) }}
                </div>
                <div class="line col-8">
                    {{ form_label(form.oilTankSize) }}
                    {{ form_widget(form.oilTankSize) }}
                    {{ form_errors(form.oilTankSize) }}
                </div>
                <div class="liner"></div>
                <div class="line actions">
                    {{ form_widget(form.submit) }}
{#                    {{ form_widget(form.insure) }}#}
                </div>
                <div class="line">
                    Bitte benutzen Sie zur Beantragung des Risikos
                    unsere hinterlegte Deckungsnote und senden diese an
                    <a href="mailto::vermittler@asspick.de">vermittler@asspick.de</a>.
                </div>
            </div>
        </div>
    </div>

    {{ form_row(form._token) }}
    {{ form_end(form,{'render_rest':false}) }}

    <div class="container col-16 col-l-24">
        <div class="inner">
            <header>
                <h2>Ergebnis</h2>
            </header>
            <div class="content">
                <div class="table-wrapper">
                    <table class="entity-list">

                        <thead>
                            <tr>
                                <th>Gebäudedeckung</th>
                                <th class="text-right">Nettobeitrag in €</th>
                                <th colspan="2"></th>
                                <th class="text-right">Bruttobeitrag in € <a href="#fn01" role="doc-noteref">[1]</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mindestbeitrag 120 €</td>
                                <td class="text-right">{{ gebaeudedeckung_mindestbeitrag_netto|default('-') }}</td>
                                <td class="text-right">ohne Glas</td>
                                <td>{{ gebaeudedeckung_mindestbeitrag_faktor|default('-') }}</td>
                                <td class="text-right">{{ gebaeudedeckung_mindestbeitrag_brutto|default('-') }}</td>
                            </tr>
                            <tr>
                                <td>inklusiv Graffiti (SB 200 €)</td>
                                <td class="text-right">{{ gebaeudedeckung_inklusive_graffiti_netto|default('-') }}</td>
                                <td class="text-right">mit Glas allg.</td>
                                <td>{{ gebaeudedeckung_inklusive_graffiti_faktor|default('-') }}</td>
                                <td class="text-right">{{ gebaeudedeckung_inklusive_graffiti_brutto|default('-') }}</td>
                            </tr>
                            <tr>
                                <td>inklusive Verzicht auf grobe Fahrlässigkeit bis 50 €</td>
                                <td class="text-right">{{ gebaeudedeckung_inklusive_verzicht_netto|default('-') }}</td>
                                <td class="text-right">mit Glas ges.</td>
                                <td>{{ gebaeudedeckung_inklusive_verzicht_faktor|default('-') }}</td>
                                <td class="text-right">{{ gebaeudedeckung_inklusive_verzicht_brutto|default('-') }}</td>
                            </tr>
                        </tbody>

                        <thead>
                            <tr>
                                <th>Gebäudedeckung mit innerer Unruhe</th>
                                <th class="text-right">Nettobeitrag in €</th>
                                <th colspan="2">
                                <th class="text-right">Bruttobeitrag <a href="#fn01" role="doc-noteref">[1]</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>inklusive mut-/böswilliger Beschädigungen (SB 500 €)</td>
                                <td class="text-right">{{ gebaeudedeckung_mit_unruhe_inklusive_beschaedigung_1_netto|default('-') }}</td>
                                <td class="text-right">ohne Glas</td>
                                <td>{{ gebaeudedeckung_mit_unruhe_inklusive_beschaedigung_1_faktor|default('-') }}</td>
                                <td class="text-right">{{ gebaeudedeckung_mit_unruhe_inklusive_beschaedigung_1_brutto|default('-') }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">{{ gebaeudedeckung_mit_unruhe_inklusive_beschaedigung_2_netto|default('-') }}</td>
                                <td class="text-right">mit Glas allg.</td>
                                <td>{{ gebaeudedeckung_mit_unruhe_inklusive_beschaedigung_2_faktor|default('-') }}</td>
                                <td class="text-right">{{ gebaeudedeckung_mit_unruhe_inklusive_beschaedigung_2_brutto|default('-') }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">{{ gebaeudedeckung_mit_unruhe_inklusive_beschaedigung_3_netto|default('-') }}</td>
                                <td class="text-right">mit Glas ges.</td>
                                <td>{{ gebaeudedeckung_mit_unruhe_inklusive_beschaedigung_3_faktor|default('-') }}</td>
                                <td class="text-right">{{ gebaeudedeckung_mit_unruhe_inklusive_beschaedigung_3_brutto|default('-') }}</td>
                            </tr>
                        </tbody>

                        <thead>
                            <tr>
                                <th>Gebäudedeckung mit Elementar</th>
                                <th class="text-right">Nettobeitrag in €</th>
                                <th colspan="2">
                                <th class="text-right">Bruttobeitrag <a href="#fn01" role="doc-noteref">[1]</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Zürs Zone 1 und 2 (SB 500€)</td>
                                <td class="text-right">{{ gebaeudedeckung_mit_elementar_1_netto|default('-') }}</td>
                                <td class="text-right">ohne Glas</td>
                                <td>{{ gebaeudedeckung_mit_elementar_1_faktor|default('-') }}</td>
                                <td class="text-right">{{ gebaeudedeckung_mit_elementar_1_netto|default('-') }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">{{ gebaeudedeckung_mit_elementar_2_netto|default('-') }}</td>
                                <td class="text-right">mit Glas allg.</td>
                                <td>{{ gebaeudedeckung_mit_elementar_2_faktor|default('-') }}</td>
                                <td class="text-right">{{ gebaeudedeckung_mit_elementar_2_brutto|default('-') }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">{{ gebaeudedeckung_mit_elementar_3_netto|default('-') }}</td>
                                <td class="text-right">mit Glas ges.</td>
                                <td>{{ gebaeudedeckung_mit_elementar_3_faktor|default('-') }}</td>
                                <td class="text-right">{{ gebaeudedeckung_mit_elementar_3_brutto|default('-') }}</td>
                            </tr>
                        </tbody>

                        <thead>
                            <tr>
                                <th>Gebäudedeckung komplett</th>
                                <th class="text-right">Nettobeitrag in €</th>
                                <th colspan="2">
                                <th class="text-right">Bruttobeitrag <a href="#fn01" role="doc-noteref">[1]</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>inklusive innerer Unruhe und Elementarschäden</td>
                                <td class="text-right">{{ gebaeudedeckung_komplett_ohne_gefahren_1_netto|default('-') }}</td>
                                <td class="text-right">ohne Glas</td>
                                <td>{{ gebaeudedeckung_komplett_ohne_gefahren_1_faktor|default('-') }}</td>
                                <td class="text-right">{{ gebaeudedeckung_komplett_ohne_gefahren_1_brutto|default('-') }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">{{ gebaeudedeckung_komplett_ohne_gefahren_2_netto|default('-') }}</td>
                                <td class="text-right">mit Glas allg.</td>
                                <td>{{ gebaeudedeckung_komplett_ohne_gefahren_2_faktor|default('-') }}</td>
                                <td class="text-right">{{ gebaeudedeckung_komplett_ohne_gefahren_2_brutto|default('-') }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">{{ gebaeudedeckung_komplett_ohne_gefahren_3_netto|default('-') }}</td>
                                <td class="text-right">mit Glas ges.</td>
                                <td>{{ gebaeudedeckung_komplett_ohne_gefahren_3_faktor|default('-') }}</td>
                                <td class="text-right">{{ gebaeudedeckung_komplett_ohne_gefahren_3_brutto|default('-') }}</td>
                            </tr>
                            <tr>
                                <td>inklusive unben. Gefahren (SB 500)</td>
                                <td class="text-right">{{ gebaeudedeckung_komplett_mit_gefahren_1_netto|default('-') }}</td>
                                <td class="text-right">ohne Glas</td>
                                <td>{{ gebaeudedeckung_komplett_mit_gefahren_1_faktor|default('-') }}</td>
                                <td class="text-right">{{ gebaeudedeckung_komplett_mit_gefahren_1_brutto|default('-') }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">{{ gebaeudedeckung_komplett_mit_gefahren_2_netto|default('-') }}</td>
                                <td class="text-right">mit Glas allg.</td>
                                <td>{{ gebaeudedeckung_komplett_mit_gefahren_2_faktor|default('-') }}</td>
                                <td class="text-right">{{ gebaeudedeckung_komplett_mit_gefahren_2_brutto|default('-') }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">{{ gebaeudedeckung_komplett_mit_gefahren_3_netto|default('-') }}</td>
                                <td class="text-right">mit Glas ges.</td>
                                <td>{{ gebaeudedeckung_komplett_mit_gefahren_3_faktor|default('-') }}</td>
                                <td class="text-right">{{ gebaeudedeckung_komplett_mit_gefahren_3_brutto|default('-') }}</td>
                            </tr>
                        </tbody>

                        <thead>
                            <tr>
                                <th>Bauleistungsversicherung</th>
                                <th class="text-right">Nettobeitrag in €</th>
                                <th colspan="2">
                                <th class="text-right">Bruttobeitrag <a href="#fn02" role="doc-noteref">[2]</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>MB 250 € (SB 250 €)</td>
                                <td class="text-right">{{ bauleistungsversicherung_1_netto|default('-') }}</td>
                                <td class="text-right">ohne Feuer</td>
                                <td>{{ bauleistungsversicherung_1_faktor|default('-') }}</td>
                                <td class="text-right">{{ bauleistungsversicherung_1_brutto|default('-') }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">{{ bauleistungsversicherung_2_netto|default('-') }}</td>
                                <td class="text-right">mit Feuer</td>
                                <td>{{ bauleistungsversicherung_2_faktor|default('-') }}</td>
                                <td class="text-right">{{ bauleistungsversicherung_2_brutto|default('-') }}</td>
                            </tr>
                        </tbody>

                        <thead>
                            <tr>
                                <th>Bauherrenhaftpflicht für EFH</th>
                                <th class="text-right">Nettobeitrag in €</th>
                                <th colspan="2">
                                <th class="text-right">Bruttobeitrag <a href="#fn02" role="doc-noteref">[2]</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> MB 50 €, bei MFH beitragsfrei in HuG-HV</td>
                                <td class="text-right">{{ bauherrenhaftpflicht_netto|default('-') }}</td>
                                <td class="text-right">12,5 Mio</td>
                                <td>{{ bauherrenhaftpflicht_faktor|default('-') }}</td>
                                <td class="text-right">{{ bauherrenhaftpflicht_brutto|default('-') }}</td>
                            </tr>
                        </tbody>

                        <thead>
                            <tr>
                                <th>Haus- und Grundbesitzerhaftpflicht</th>
                                <th class="text-right">Nettobeitrag in €</th>
                                <th colspan="2">
                                <th class="text-right">Bruttobeitrag <a href="#fn02" role="doc-noteref">[2]</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>WE 4 € / GE 8 € / MB 50 € inklusive Bauherren-HV</td>
                                <td class="text-right">{{ haus_und_grundbesitzerhaftpflicht_1_netto|default('-') }}</td>
                                <td class="text-right">5 Mio</td>
                                <td></td>
                                <td class="text-right">{{ haus_und_grundbesitzerhaftpflicht_1_brutto|default('-') }}</td>
                            </tr>
                            <tr>
                                <td>WE 5 € / GE 10 € / MB 59 € inklusive Bauherren-HV</td>
                                <td class="text-right">{{ haus_und_grundbesitzerhaftpflicht_2_netto|default('-') }}</td>
                                <td class="text-right">10 Mio</td>
                                <td></td>
                                <td class="text-right">{{ haus_und_grundbesitzerhaftpflicht_2_brutto|default('-') }}</td>
                            </tr>
                        </tbody>

                        <thead>
                            <tr>
                                <th>Gewässerschadenhaftpflicht</th>
                                <th class="text-right">Nettobeitrag in €</th>
                                <th colspan="2">
                                <th class="text-right">Bruttobeitrag <a href="#fn02" role="doc-noteref">[2]</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ober- und unterirdische Tankanlagen</td>
                                <td class="text-right">{{ gewaesserschadenhaftpflicht_1_netto|default('-') }}</td>
                                <td class="text-right">5 Mio</td>
                                <td></td>
                                <td class="text-right">{{ gewaesserschadenhaftpflicht_1_brutto|default('-') }}</td>
                            </tr>
                            <tr>
                                <td> bis 10t, bis 30t, bis 50t, bis 100t</td>
                                <td class="text-right">{{ gewaesserschadenhaftpflicht_2_netto|default('-') }}</td>
                                <td class="text-right">10 Mio</td>
                                <td></td>
                                <td class="text-right">{{ gewaesserschadenhaftpflicht_2_brutto|default('-') }}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <footer>
                <ol>
                    <li id="fn01" role="doc-footnote">inkl. Vers.St. 16,34%</li>
                    <li id="fn01" role="doc-footnote">inkl. Vers.St. 19,00%</li>
                </ol>
            </footer>
        </div>
    </div>
{% endblock %}
