<div class="line col-8">
    {{ form_label(traceOfBreakIn.isTracePresent) }}
    {{ form_widget(traceOfBreakIn.isTracePresent) }}
    {{ form_errors(traceOfBreakIn.isTracePresent) }}
</div>
<div class="line col-24">
    {{ form_label(traceOfBreakIn.description) }}
    {{ form_widget(traceOfBreakIn.description) }}
    {{ form_errors(traceOfBreakIn.description) }}
</div>