{% extends '_general/base.html.twig' %}

{% block title %}SACH -  Schadenanzeige {{ action }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('generalDamage-form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('generalDamage-form') }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="container container--dashboard">
        <div class="inner">

            {% include 'damage_case/part/_headline.html.twig' with{'headline':'SACH - Schadenanzeige'} %}

            <header class="tabs">
                <div class="tab active" data-tab="general"><h3>Allgemeines</h3></div>
                <div class="tab" data-tab="policyholder"><h3>{{ form_label(form.policyholder) }}</h3></div>
                <div class="tab" data-tab="damageEvent"><h3>{{ form_label(form.damageEvent) }}</h3></div>
                <div class="tab" data-tab="buildingDamage"><h3>{{ form_label(form.buildingDamage) }}</h3></div>
                <div class="tab" data-tab="itemsOtherInsurance"><h3>{{ form_label(form.itemsOtherInsurance) }}</h3>
                </div>
                <div class="tab" data-tab="traceOfBreakIn"><h3>{{ form_label(form.traceOfBreakIn) }}</h3></div>
                <div class="tab" data-tab="damageCause"><h3>{{ form_label(form.damageCause) }}</h3></div>
                <div class="tab" data-tab="repairCompany"><h3>{{ form_label(form.repairCompany) }}</h3></div>
                <div class="tab" data-tab="policeRecording"><h3>{{ form_label(form.policeRecording) }}</h3></div>
                <div class="tab" data-tab="payment"><h3>{{ form_label(form.payment) }}</h3></div>
                <div class="tab" data-tab="images"><h3>Bilder</h3></div>
            </header>

            <div class="content tab active" data-tab="general">

                {{ form_label(form.typs) }}
                {{ form_widget(form.typs) }}
                {{ form_errors(form.typs) }}

                {{ form_label(form.costumeTyp) }}
                {{ form_widget(form.costumeTyp) }}
                {{ form_errors(form.costumeTyp) }}

                <div class="liner"></div>
                {% include 'damage_case/part/_insurer.html.twig' %}
            </div>

            <div class="content tab" data-tab="policyholder">
                {% include 'damage_case/part/_person.html.twig' with {'person':form.policyholder} %}
                <div class="line col-8">
                    {{ form_label(form.policyholder.email) }}
                    {{ form_widget(form.policyholder.email) }}
                    {{ form_errors(form.policyholder.email) }}
                </div>
            </div>

            <div class="content tab" data-tab="damageEvent">
                {% include 'damage_case/part/_damageEvent.html.twig' with {'damageEvent':form.damageEvent} %}
                <div class="line col-24 four-per-line">
                    {{ form_label(form.damageEvent.causeOfDamageTyps) }}
                    {{ form_widget(form.damageEvent.causeOfDamageTyps) }}
                    {{ form_errors(form.damageEvent.causeOfDamageTyps) }}
                </div>
            </div>

            <div class="content tab" data-tab="buildingDamage">
                {% include 'damage_case/general_damage/part/_buildingDamage.html.twig' with {'buildingDamage':form.buildingDamage} %}
            </div>

            <div class="content tab" data-tab="itemsOtherInsurance">
                {% include 'damage_case/general_damage/part/_itemsOtherInsurance.html.twig' with {'itemsOtherInsurance':form.itemsOtherInsurance} %}
            </div>

            <div class="content tab" data-tab="traceOfBreakIn">
                {% include 'damage_case/general_damage/part/_traceOfBreakIn.html.twig' with {'traceOfBreakIn':form.traceOfBreakIn} %}
            </div>

            <div class="content tab" data-tab="damageCause">
                {% include 'damage_case/part/_person.html.twig' with {'person':form.damageCause} %}
                <div class="line col-8">
                    {{ form_label(form.damageCause.dateOfBirth) }}
                    {{ form_widget(form.damageCause.dateOfBirth) }}
                    {{ form_errors(form.damageCause.dateOfBirth) }}
                </div>
            </div>

            <div class="content tab" data-tab="repairCompany">
                {% include 'damage_case/general_damage/part/_repairCompany.html.twig' with {'repairCompany':form.repairCompany} %}
            </div>

            <div class="content tab" data-tab="policeRecording">
                {% include 'damage_case/part/_policeRecording.html.twig' with {'policeRecording':form.policeRecording} %}
            </div>

            <div class="content tab" data-tab="payment">
                {% include 'damage_case/part/_payment.html.twig' with {'payment':form.payment,'showTaxDeduction':true} %}
            </div>

            <div class="content tab" data-tab="images">
                {% include '_widgets/_images.html.twig'
                    with {
                    'files':generalDamage.files,
                    'backTo':constant('App\\Entity\\DamageCase\\GeneralDamage\\GeneralDamage::FORM_ROUTES')|join(','),
                    'maxFiles' : null,
                    'acceptedFiles' : 'image/*'
                } %}
            </div>

            <footer>
                {% include 'damage_case/part/_disclaimer.html.twig' %}
            </footer>
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form,{'render_rest':false}) }}
{% endblock %}
