{% extends '_general/base.html.twig' %}

{% block title %}Schadenanzeige KFZ {{ action }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('car-form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('car-form') }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="container container--dashboard">
        <div class="inner">

            {% include 'damage_case/part/_headline.html.twig' with{'headline':'Schadenanzeige KFZ'} %}

            <header class="tabs">
                <div class="tab active" data-tab="general"><h3>Allgemeines</h3></div>
                <div class="tab" data-tab="policyholder"><h3>{{ form_label(form.policyholder) }}</h3></div>
                <div class="tab" data-tab="damageEvent"><h3>{{ form_label(form.damageEvent) }}</h3></div>
                <div class="tab" data-tab="typeOfInjury"><h3>Personenschäden</h3></div>
                <div class="tab" data-tab="theftProtectionTyp"><h3>Diebstahlschäden</h3></div>
                <div class="tab" data-tab="viewedOn"><h3>Besichtigung</h3></div>
                <div class="tab" data-tab="driver"><h3>{{ form_label(form.driver) }}</h3></div>
                <div class="tab" data-tab="hasOwnClaims"><h3>Ansprüche</h3></div>
                <div class="tab" data-tab="accidentOpponent"><h3>{{ form_label(form.accidentOpponent) }}</h3></div>
                <div class="tab" data-tab="opponentCar"><h3>{{ form_label(form.opponentCar) }}</h3></div>
                <div class="tab" data-tab="policeRecording"><h3>{{ form_label(form.policeRecording) }}</h3></div>
                <div class="tab" data-tab="witness"><h3>{{ form_label(form.witnessTwo) }}</h3></div>
                <div class="tab" data-tab="other"><h3>{{ form_label(form.other) }}</h3></div>
                <div class="tab" data-tab="images"><h3>Bilder</h3></div>
            </header>

            <div class="content tab active" data-tab="general">
                <div class="line col-8 wrap-checkboxes">
                    {{ form_label(form.typOfInsurance) }}
                    {{ form_widget(form.typOfInsurance) }}
                    {{ form_errors(form.typOfInsurance) }}
                    {{ form_label(form.typOfTrip) }}
                    {{ form_widget(form.typOfTrip) }}
                    {{ form_errors(form.typOfTrip) }}
                </div>
                <div class="line col-8">
                    {{ form_label(form.licensePlate) }}
                    {{ form_widget(form.licensePlate) }}
                    {{ form_errors(form.licensePlate) }}
                </div>
                <div class="liner"></div>
                {% include 'damage_case/part/_insurer.html.twig' %}
            </div>


            <div class="content tab" data-tab="policyholder">
                {% include 'damage_case/part/_person.html.twig' with {'person':form.policyholder} %}
                <div class="line col-8">
                    {{ form_label(form.policyholder.email) }}
                    {{ form_widget(form.policyholder.email) }}
                    {{ form_errors(form.policyholder.email) }}
                </div>
            </div>

            <div class="content tab" data-tab="damageEvent">
                {% include 'damage_case/car/part/_damageEvent.html.twig'
                    with {'damageEvent':form.damageEvent,'showLocationTwo':true}
                %}
            </div>

            <div class="content tab" data-tab="typeOfInjury">
                <div class="line col-8">
                    {{ form_label(form.typeOfInjury) }}
                    {{ form_widget(form.typeOfInjury) }}
                    {{ form_errors(form.typeOfInjury) }}
                </div>
            </div>

            <div class="content tab" data-tab="theftProtectionTyp">
                <div class="line col-24">
                    {{ form_widget(form.theftProtectionTyp) }}
                    {{ form_errors(form.theftProtectionTyp) }}
                </div>
            </div>

            <div class="content tab" data-tab="viewedOn">
                <div class="line col-24">
                    {{ form_label(form.viewedOn) }}
                    {{ form_widget(form.viewedOn) }}
                    {{ form_errors(form.viewedOn) }}
                </div>
                <div class="line col-12">
                    {{ form_label(form.whoseCars) }}
                    {{ form_widget(form.whoseCars) }}
                    {{ form_errors(form.whoseCars) }}
                </div>
            </div>

            <div class="content tab" data-tab="driver">
                {% include 'damage_case/car/part/_driver.html.twig' with {'driver':form.driver}%}
            </div>

            <div class="content tab" data-tab="hasOwnClaims">
                <div class="line col-8">
                    {{ form_label(form.hasOwnClaims) }}
                    {{ form_widget(form.hasOwnClaims) }}
                    {{ form_errors(form.hasOwnClaims) }}
                </div>
            </div>

            <div class="content tab" data-tab="accidentOpponent">
                {% include 'damage_case/part/_person.html.twig' with {'person':form.accidentOpponent}%}
            </div>

            <div class="content tab" data-tab="opponentCar">
                {% include 'damage_case/car/part/_opponentCar.html.twig' with {'opponentCar':form.opponentCar}%}
            </div>

            <div class="content tab" data-tab="policeRecording">
                {% include 'damage_case/part/_policeRecording.html.twig'
                    with {'policeRecording':form.policeRecording, 'showLong':true, 'showCar':true} %}
            </div>

            <div class="content tab" data-tab="witness">
                {% include 'damage_case/part/_witness.html.twig' %}
            </div>

            <div class="content tab" data-tab="other">
                <header>
                    <h3>
                        {{ form_label(form.other) }}
                    </h3>
                </header>
                <div class="line col-24">
                    {{ form_widget(form.other) }}
                    {{ form_errors(form.other) }}
                </div>
            </div>

            <div class="content tab" data-tab="payment">
                {% include 'damage_case/part/_payment.html.twig'
                    with {'payment':form.payment,'showTyp':true,'showTaxDeduction':true}
                %}
            </div>

            <div class="content tab" data-tab="images">
                {% include '_widgets/_images.html.twig'
                    with {
                    'files':car.files,
                    'backTo':constant('App\\Entity\\DamageCase\\Car\\Car::FORM_ROUTES')|join(','),
                    'maxFiles' : null,
                    'acceptedFiles' : 'images/*'
                }
                %}
            </div>
            <footer>
                {% include 'damage_case/part/_disclaimer.html.twig' %}
            </footer>
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form,{'render_rest':false}) }}
{% endblock %}
