{% extends '_general/base.html.twig' %}

{% block title %}Schadenanzeige KFZ {{ action }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('car-form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('car-form') }}
{% endblock %}

{% block content %}
    <div class="container container--dashboard">
        <div class="inner">
            <header>
                <h2>
                    Schadenanzeige KFZ {{ action }}
                </h2>
            </header>
            <div class="content">
                {{ form_start(form) }}
                <div class="line col-8 wrap-checkboxes">
                    {{ form_label(form.typOfInsurance) }}
                    {{ form_widget(form.typOfInsurance) }}
                    {{ form_errors(form.typOfInsurance) }}
                    {{ form_label(form.typOfTrip) }}
                    {{ form_widget(form.typOfTrip) }}
                    {{ form_errors(form.typOfTrip) }}
                </div>
                <div class="line col-8">
                    {{ form_label(form.licensePlate) }}
                    {{ form_widget(form.licensePlate) }}
                    {{ form_errors(form.licensePlate) }}
                </div>
{#                <div class="newline"></div>#}
{#                <div class="line col-6 wrap-checkboxes">#}
{#                </div>#}
                <div class="liner"></div>
                {% include 'damage_case/car/part/_insured.html.twig' %}
            </div>
            {% include 'damage_case/part/_policyholder.html.twig' %}
            {% include 'damage_case/car/part/_damageEvent.html.twig'
                with {'damageEvent':form.damageEvent,'showLocationTwo':true}
            %}
            <div class="content">
                <header>
                    <h2>
                        Bei Personenschäden
                    </h2>
                </header>
                <div class="line col-8">
                    {{ form_label(form.typeOfInjury) }}
                    {{ form_widget(form.typeOfInjury) }}
                    {{ form_errors(form.typeOfInjury) }}
                </div>
            </div>
            <div class="content">
                <header>
                    <h2>
                        Bei Diebstahlschäden
                    </h2>
                </header>
                <div class="line col-24">
                    {{ form_widget(form.theftProtection) }}
                    {{ form_errors(form.theftProtection) }}
                </div>
            </div>
            <div class="content">
                <div class="line col-24">
                    {{ form_label(form.viewedOn) }}
                    {{ form_widget(form.viewedOn) }}
                    {{ form_errors(form.viewedOn) }}
                </div>
                <div class="line col-12">
                    {{ form_label(form.whoseCars) }}
                    {{ form_widget(form.whoseCars) }}
                    {{ form_errors(form.whoseCars) }}
                </div>
            </div>
            {% include 'damage_case/car/part/_driver.html.twig' with {'driver':form.driver}%}
            <div class="content">
                <div class="line col-8">
                    {{ form_label(form.hasOwnClaims) }}
                    {{ form_widget(form.hasOwnClaims) }}
                    {{ form_errors(form.hasOwnClaims) }}
                </div>
            </div>
            <div class="content">
                <header>
                    <h3>
                        {{ form_label(form.accidentOpponent) }}
                    </h3>
                </header>
                {% include 'damage_case/part/_person.html.twig' with {'person':form.accidentOpponent}%}
            </div>
            {% include 'damage_case/car/part/_opponentCar.html.twig' with {'opponentCar':form.opponentCar}%}
            {% include 'damage_case/part/_policeRecording.html.twig'
                with {'policeRecording':form.policeRecording, 'showLong':true, 'showCar':true} %}
            {% include 'damage_case/part/_witness.html.twig' %}
            <div class="content">
                <header>
                    <h3>
                        {{ form_label(form.other) }}
                    </h3>
                </header>
                <div class="line col-24">
                    {{ form_widget(form.other) }}
                    {{ form_errors(form.other) }}
                </div>
            </div>
            {% include 'damage_case/part/_payment.html.twig'
                with {'payment':form.payment,'showTyp':true,'showTaxDeduction':true}
            %}
            {% include '_widgets/_images.html.twig'
                with {
                'files':car.files,
                'backTo':constant('App\\Entity\\DamageCase\\Car\\Car::FORM_ROUTES')|join(','),
                'maxFiles' : null,
                'acceptedFiles' : 'images/*'
            }
            %}
            <div class="content">
                <div class="line">
                    <button type="submit" class="btn">speichern</button>
                </div>
            </div>
            {{ form_row(form._token) }}
            {{ form_end(form,{'render_rest':false}) }}
            <div class="liner"></div>
            {% include 'damage_case/part/_disclaimer.html.twig' %}
        </div>
    </div>
{% endblock %}
