{% extends '_general/base.html.twig' %}

{% block title %}Schadenanzeige KFZ{% endblock %}

{% block content %}
    <div class="container container--dashboard">
        <div class="inner">
            <header>
                <h2>Schadenanzeige KFZ</h2>
                <div class="actions">
                    <a class="btn"
                       href="{{ path('damageCase_car_download') }}"
                       title="PDF"
                       target="_blank"
                    >
                        <i class="fad fa-file-pdf"></i>
                        PDF ausfüllen
                    </a>
                </div>
            </header>
            <div class="content">
                <div class="table-wrapper">
                    <table class="entity-list">
                        <thead>
                        <tr>
                            <th>erstellt am</th>
                            <th>Versicherer</th>
                            <th>Versicherungs-Nr/Schaden-Nr</th>
                            <th>Versicherungsnehmer</th>
                            <th>Schadentag</th>
                            <th class="actions">
                                <a href="{{ path('damageCase_car_new') }}" class="btn green">
                                    Neues Formular ausfüllen
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for entry in car %}
                                <tr>
                                    <td>{{ entry.createdAt|date('d.m.Y') }}</td>
                                    <td>{{ entry.insured.insured|default('') }}</td>
                                    <td>{{ entry.policyholder }}</td>
                                    {% set insuranceNumber = entry.insured.insuranceNumber|default('') %}
                                    <td>{{ (insuranceNumber?insuranceNumber:entry.insured.dangerNumber|default('')) }}</td>
                                    <td>{{ (entry.damageEvent)?entry.damageEvent.date|date("d.m.Y"):'' }}</td>
                                    <td class="actions">
                                        {% include 'damage_case/car/part/_delete.html.twig' %}
                                        <a
                                            href="{{ path('damageCase_car_edit',{'id':entry.id})}}"
                                            class="btn edit"
                                        >
                                            bearbeiten
                                        </a>
                                        <a
                                                href="{{ path('damageCase_car_lock',{'id':entry.id}) }}"
                                                class="btn edit"
                                        >
                                            einreichen
                                        </a>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="4">Keine Einträge im System</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
