<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | ASSPICK Vermittlerportal</title>
    <link rel="shortcut icon" href="{{ asset('build/img/favicon.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

    {% block messages %}
        {% for label, messages in app.flashes %}
            <div class="wrap-messages">
                {% for message in messages %}
                    <div class="message {{ label }}">
                        {{ message|raw }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endblock %}

    {% include '_general/topbar.html.twig' %}

    <div id="wrapper">
        {% block content %}{% endblock %}
    </div>

    {% include '_general/footer.html.twig' %}

    {% block dropzones %}{% endblock %}

    {% block fancyboxes %}{% endblock %}

    <div class="loading-indicator-modal">
        <i class="fas fa-spinner"></i>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
