{% extends '_general/base.html.twig' %}

{% block title %}Schadenanzeige Haftpflicht {{ action }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('liability-form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('liability-form') }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="container container--dashboard">
        <div class="inner">

            {% include 'damage_case/part/_headline.html.twig' with{'headline':'Schadenanzeige Haftpflicht'} %}

            <header class="tabs">
                <div class="tab active" data-tab="general"><h3>Allgemeines</h3></div>
                <div class="tab" data-tab="policyholder"><h3>{{ form_label(form.policyholder) }}</h3></div>
                <div class="tab" data-tab="damageEvent"><h3>{{ form_label(form.damageEvent) }}</h3></div>
                <div class="tab" data-tab="damageCause"><h3>{{ form_label(form.damageCause) }}</h3></div>
                <div class="tab" data-tab="damageItems"><h3>Sachschäden</h3></div>
                <div class="tab" data-tab="personalInjury"><h3>{{ form_label(form.personalInjury) }}</h3></div>
                <div class="tab" data-tab="witness"><h3>{{ form_label(form.witnessTwo) }}</h3></div>
                <div class="tab" data-tab="policeRecording"><h3>{{ form_label(form.policeRecording) }}</h3></div>
                <div class="tab" data-tab="claimant"><h3>{{ form_label(form.claimant) }}</h3></div>
                <div class="tab" data-tab="payment"><h3>{{ form_label(form.payment) }}</h3></div>
                <div class="tab" data-tab="images"><h3>Bilder</h3></div>
            </header>

            <div class="content tab active" data-tab="general">
                {% include 'damage_case/part/_insurer.html.twig' %}
            </div>

            <div class="content tab" data-tab="policyholder">
                {% include 'damage_case/part/_person.html.twig' with {'person':form.policyholder} %}
                <div class="line col-8">
                    {{ form_label(form.policyholder.email) }}
                    {{ form_widget(form.policyholder.email) }}
                    {{ form_errors(form.policyholder.email) }}
                </div>
            </div>

            <div class="content tab" data-tab="damageEvent">
                {% include 'damage_case/part/_damageEvent.html.twig' with {'damageEvent':form.damageEvent} %}
            </div>

            <div class="content tab" data-tab="damageCause">
                {% include 'damage_case/part/_person.html.twig' with {'person':form.damageCause} %}
                <div class="line col-8">
                    {{ form_label(form.damageCause.dateOfBirth) }}
                    {{ form_widget(form.damageCause.dateOfBirth) }}
                    {{ form_errors(form.damageCause.dateOfBirth) }}
                </div>
            </div>

            <div class="content tab" data-tab="witness">
                {% include 'damage_case/part/_witness.html.twig' %}
            </div>

            <div class="content tab" data-tab="policeRecording">
                {% include 'damage_case/part/_policeRecording.html.twig'
                    with {'policeRecording':form.policeRecording,'showLong':true}
                %}
            </div>

            <div class="content tab" data-tab="claimant">
                {% include 'damage_case/part/_person.html.twig' with {'person':form.claimant} %}
                <div class="newline"></div>
                <div class="line col-8">
                    {{ form_label(form.claimant.typ) }}
                    {{ form_widget(form.claimant.typ) }}
                    {{ form_errors(form.claimant.typ) }}
                </div>
                <div class="line col-8">
                    {{ form_label(form.claimant.kindOfRelationship) }}
                    {{ form_widget(form.claimant.kindOfRelationship) }}
                    {{ form_errors(form.claimant.kindOfRelationship) }}
                </div>
                <div class="line col-8">
                    {{ form_label(form.claimant.isInDomesticCommunityWithMe) }}
                    {{ form_widget(form.claimant.isInDomesticCommunityWithMe) }}
                    {{ form_errors(form.claimant.isInDomesticCommunityWithMe) }}
                </div>
            </div>

            <div class="content tab" data-tab="damageItems">
                <div class="line col-24">
                    {{ form_label(form.damageEvent.itemsDamaged) }}
                    {{ form_widget(form.damageEvent.itemsDamaged) }}
                    {{ form_errors(form.damageEvent.itemsDamaged) }}
                </div>
                <div class="newline"></div>
                <div class="line col-8">
                    {{ form_label(form.damageEvent.damageAmount) }}
                    {% set number = ''  %}
                    {% if form.vars.value is not empty and form.vars.value.damageEvent is not empty %}
                        {% set number = form.vars.value.damageEvent.damageAmount  %}
                        {% set number = number|number_format(2,",","." )%}
                    {% endif %}
                    {{ form_widget(form.damageEvent.damageAmount, {'value':number}) }}
                    {{ form_errors(form.damageEvent.damageAmount) }}
                </div>
                <div class="line col-16">
                    {{ form_label(form.isRepairPossible) }}
                    {{ form_widget(form.isRepairPossible) }}
                    {{ form_errors(form.isRepairPossible) }}
                </div>
                <div class="line col-8">
                    {{ form_label(form.typeOfOwnership) }}
                    {{ form_widget(form.typeOfOwnership) }}
                    {{ form_errors(form.typeOfOwnership) }}
                </div>
            </div>

            <div class="content tab" data-tab="personalInjury">
                <div class="line col-8">
                    {{ form_label(form.personalInjury.personFirstname) }}
                    {{ form_widget(form.personalInjury.personFirstname) }}
                    {{ form_errors(form.personalInjury.personFirstname) }}
                </div>
                <div class="line col-8">
                    {{ form_label(form.personalInjury.personLastname) }}
                    {{ form_widget(form.personalInjury.personLastname) }}
                    {{ form_errors(form.personalInjury.personLastname) }}
                </div>
                <div class="line col-8">
                    {{ form_label(form.personalInjury.injuries) }}
                    {{ form_widget(form.personalInjury.injuries) }}
                    {{ form_errors(form.personalInjury.injuries) }}
                </div>
            </div>

            <div class="content tab" data-tab="payment">
                {% include 'damage_case/part/_payment.html.twig' with {'payment':form.payment,'showTaxDeduction':true} %}
            </div>

            <div class="content tab" data-tab="images">
                {% include '_widgets/_images.html.twig'
                    with {
                    'files':liability.files,
                    'backTo':constant('App\\Entity\\DamageCase\\GeneralDamage\\GeneralDamage::FORM_ROUTES')|join(','),
                    'maxFiles' : null,
                    'acceptedFiles' : 'images/*'
                } %}
            </div>

            <footer>
                {% include 'damage_case/part/_disclaimer.html.twig' %}
            </footer>
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form,{'render_rest':false}) }}
    {{ form_errors(form) }}
{% endblock %}
