<div class="line news col-6">
    {% set isFirst = true %}
    {% for file in news.files %}
        {% if isFirst and file.path|split('.')|last|lower in ['jpg','jpeg','png','tiff','webp','bmp','gif'] %}
            <img src="{{ asset(file.path) | imagine_filter('cover_275x121') }}" alt=""/>
            {% set isFirst = false %}
        {% endif %}
    {% endfor %}
    <h2>
        <strong>{{ news.titel }}</strong>
        {{ news.subtitel|raw|default('') }}
    </h2>
    <p>
        {% if news.teaser is not empty %}
            {{ news.teaser|raw }}
        {% else %}
            {% set text = news.text|striptags %}
            {% set text = text|length > 250 ? text|slice(0, 250) ~ '...' : text %}
            {{ text|raw|nl2br }}
        {% endif %}
    </p>
    <a class="btn" href="{{ path('news_show',{'id':news.id}) }}">Weiterlesen…</a>
</div>
