{% extends '_general/base.html.twig' %}

{% block title %}Archiv{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user-view') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user-view') }}
{% endblock %}

{% block content %}

    <div class="container container--user-view">
        <div class="inner">
            <header>
                <h2>
                    <i class="fad fa-paper-plane"></i>
                    Archiv
                </h2>
            </header>
            {% for news in newsroom %}
                {% include 'news/_teaser.html.twig' with {
                    'clear': cycle([false,true],loop.index)
                } %}
            {% endfor %}
            <div class="liner"></div>
            <div class="line col-auto">
                {{ knp_pagination_render(newsroom) }}
            </div>
        </div>
    </div>
{% endblock %}
