{% extends '_general/base.html.twig' %}

{% block title %}News {{ action }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('news-form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('news-form') }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="container container--dashboard">
        <div class="inner">
            <header>
                <h2>
                    News {{ action }}
                </h2>
            </header>
            <div class="content">
                <div class="line col-12">
                    {{ form_label(form.titel) }}
                    {{ form_widget(form.titel) }}
                    {{ form_errors(form.titel) }}
                </div>
                <div class="line col-12">
                    {{ form_label(form.subtitel) }}
                    {{ form_widget(form.subtitel) }}
                    {{ form_errors(form.subtitel) }}
                </div>
                <div class="line col-24">
                    {{ form_label(form.teaser) }}
                    {{ form_widget(form.teaser) }}
                    {{ form_errors(form.teaser) }}
                </div>
                <div class="line col-24">
                    {{ form_label(form.text) }}
                    {{ form_widget(form.text) }}
                    {{ form_errors(form.text) }}
                </div>
            </div>
            {% include '_widgets/images.html.twig'
                with {
                'files':news.files,
                'backTo':constant('App\\Entity\\News::FORM_ROUTES')|join(','),
                'maxFiles' : 1,
                'acceptedFiles' : 'images/*'
            } %}
            <div class="content">
                <button class="btn">{{ button_label|default('Speichern') }}</button>
            </div>
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form,{'render_rest':false}) }}
{% endblock %}
