{% extends '_general/base.html.twig' %}

{% block title %}Aktivierungscode {{ action }}{% endblock %}

{% block content %}
    <div class="container container--dashboard">
        <div class="inner">
            <header>
                <h2>
                    Aktivierungscode {{ action }}
                </h2>
            </header>
            {{ form_start(form) }}
            <div class="content">
                <div class="line col-8 col-m-12 col-s-24">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="line col-8 col-m-12 col-s-24">
                    {{ form_label(form.code) }}
                    {{ form_widget(form.code) }}
                    {{ form_errors(form.code) }}
                </div>
            </div>
            <div class="content">
                <button class="btn">{{ button_label|default('Speichern') }}</button>
            </div>
            {{ form_row(form._token) }}
            {{ form_end(form,{'render_rest':false}) }}
        </div>
    </div>
{% endblock %}
