{% extends '_general/base.html.twig' %}

{% block title %}Aktivierungscode{% endblock %}

{% block content %}
    <div class="container container--dashboard">
        <div class="inner">
            <header>
                <h2>
                    <i class="fa fa-file-csv"></i>
                    Aktivierungscode
                </h2>
            </header>
            <div class="content">
                {{ form_start(form) }}
                <div class="line col-8">
                    {{ form_label(form.file) }}
                    {{ form_widget(form.file) }}
                    {{ form_errors(form.file) }}
                </div>
                <div class="line col-8">
                    <button type="submit" class="btn">Speichern</button>
                </div>
                {{ form_row(form._token) }}
                {{ form_end(form,{'render_rest':false}) }}
            </div>
            <div class="content">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>E-Mail Adresse</th>
                                <th>Code</th>
                                <th class="actions">
                                    <a
                                            class="btn green"
                                            href="{{ path('activation_code_new') }}"
                                    >
                                        Neuen Aktivierungscode erstellen
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for activation_code in activation_codes %}
                                <tr>
                                    <td>{{ activation_code.email }}</td>
                                    <td>{{ activation_code.code }}</td>
                                    <td class="actions">
                                        {{ include('activation_code/_delete_form.html.twig') }}
                                        <a
                                                class="btn"
                                                href="{{ path('activation_code_edit', {'id': activation_code.id}) }}"
                                        >
                                            bearbeiten
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">Keine Aktivierungscodes im System gefunden.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
