<div class="content">
    <div class="line col-8">
        {{ form_label(damageEvent.date) }}
        {{ form_widget(damageEvent.date) }}
        {{ form_errors(damageEvent.date) }}
    </div>
    <div class="line col-8">
        {{ form_label(damageEvent.time) }}
        {{ form_widget(damageEvent.time) }}
        {{ form_errors(damageEvent.time) }}
    </div>
    <div class="line col-8">
        {{ form_label(damageEvent.location) }}
        {{ form_widget(damageEvent.location) }}
        {{ form_errors(damageEvent.location) }}
    </div>
    <div class="newline"></div>
    <div class="line col-24">
        {{ form_label(damageEvent.description) }}
        {{ form_widget(damageEvent.description) }}
        {{ form_errors(damageEvent.description) }}
    </div>
</div>