<div class="line col-8">
    {{ form_label(form.insurer.name) }}
    {{ form_widget(form.insurer.name) }}
    {{ form_errors(form.insurer.name) }}
</div>
<div class="line col-8">
    {{ form_label(form.insurer.insuranceNumber) }}
    {{ form_widget(form.insurer.insuranceNumber) }}
    {{ form_errors(form.insurer.insuranceNumber) }}
</div>
<div class="line col-8">
    {{ form_label(form.insurer.dangerNumber) }}
    {{ form_widget(form.insurer.dangerNumber) }}
    {{ form_errors(form.insurer.dangerNumber) }}
</div>