<tr class="{{ levelClass }} {{ folder.isVisible ? '' : 'inactive' }}">
    <td>{{ folder.name }}</td>
    <td class="actions">
        {{ include('download_center/folder/_delete_form.html.twig') }}
        <a
                class="btn"
                href="{{ path('download_center_folder_edit', {'id': folder.id}) }}"
                title="News bearbeiten"
        >
            bearbeiten
        </a>
        <a class="btn" href="{{ path('download_center_file_index',{'folderId':folder.id}) }}">Dateien - {{ folder.files|length }}</a>
    </td>
</tr>