<tr class="file level-{{ level }} {{ file.isVisible ? '' : 'inactive' }}">
    <td>
       {% include '_widgets/_file_icon.html.twig' %}
        {{ file.name }}</td>
    <td>{{ file.updatedAt|date('d.m.Y') }}</td>
    <td class="actions">
        {% include 'download_center/file/_delete_form.html.twig' %}
        <a
                class="btn"
                href="{{ path('download_center_file_edit', {'id': file.id,'folderId':file.folder.id}) }}"
                title="Datei bearbeiten"
        >
            bearbeiten
        </a>
    </td>
</tr>