{% extends '_general/base.html.twig' %}

{% block title %}Download-Center Datei{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('files') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="inner">
            <header>
                <h2>Download-Center Datei</h2>
            </header>
            <div class="content">
                <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Name</th>
                            <th class="actions">
                                <a title="Datei erstellen" class="btn green" href="{{ path('download_center_file_new',{'folderId':folderId}) }}">
                                    Neue Datei hochladen
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for file in files %}
                            <tr class="{{ file.isVisible?'':'inactive' }}">
                                <td>{{ file.updatedAt|date('d.m.Y') }}</td>
                                <td>{{ file.name }}</td>
                                <td class="actions">
                                    {% include 'download_center/file/_delete_form.html.twig'%}
                                    <a
                                            class="btn"
                                            href="{{ path('download_center_file_edit', {'id': file.id,'folderId':folderId}) }}"
                                            title="Datei bearbeiten"
                                    >
                                        bearbeiten
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">Keine Dateien in diesem Ordner.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
