{% extends '_general/base.html.twig' %}

{% block title %}Benutzer {{ action }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="inner">
            <header>
                <h2>
                    Benutzer {{ action }}
                </h2>
            </header>
            <div class="content">
                {{ form_start(form) }}
                <div class="line col-4">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="line col-4">
                    {{ form_label(form.plainPassword) }}
                    {{ form_widget(form.plainPassword) }}
                    {{ form_errors(form.plainPassword) }}
                </div>
                <div class="liner"></div>
                <div class="line col-6">
                    {{ form_widget(form.roles) }}
                    {{ form_errors(form.roles) }}
                </div>
                <div class="liner"></div>
                <div class="line">
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_row(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
